<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    

        <!-- GOOGLE INFORMATION -->
        <div class="text-center">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3><br><br>

                    <p>
                        <strong>Email</strong>: <%= email %><br><br>
                        <strong>Name</strong>: <%= name %><br><br>
                        <strong>Pic</strong>: <img src="<%=pic%>" width="200" height="200" alt="">
                    </p>

            </div>
        </div>

        <div class="text-center">
            <strong>Made with ❤️ by Shrey Singh</strong>
        </div>

</div>
</body>
</html>